mixin header-menu-button()
    button(class="header__burger" id="header__burger").header-menu-button
        span(id="cross-first" class="header__burger__line")
        span(id="cross-opacity" class="header__burger__line")
        span(id="cross-fird" class="header__burger__line")








