mixin footer-nav()
    .footer__nav
        .container
            .footer__nav__line
                .footer__nav__line__logo
                    img(src="src/assets/logo.png" alt="")
                .footer__nav__line__menu
                    div.footer__nav__line__menu--one Почему мы
                    div.footer__nav__line__menu--one Номера
                    div.footer__nav__line__menu--one Отзывы
                    div.footer__nav__line__menu--one Как нас найти