- const menuItems = ['Почему мы', 'Номера', 'Отзывы', 'Как нас найти']
- const socialLinks = [{ href: '', iconClass: 'fa-brands fa-facebook' }, { href: '', iconClass: 'fa-brands fa-square-instagram' }, { href: '', iconClass: 'fa-brands fa-vk' }]