@include block('header') {
    width: 100%;
    @include flex(space-between, center);
    height: 76px;
    padding-top: 12px;

    @include element('header', 'menu') {
        @include flex();

        @include element('header', 'menu__more_info') {
            @include hidden;
        }
    }

    @include element('header', 'menu__one_text') {
        color: black;
        text-decoration: none;
        font-size: $main-desktop-size;
        font-weight: $title-weight;
        line-height: 19.2px;
        margin-left: 30px;
    }

    @include element('header', 'burger') {
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background-color: white;
        @include hidden;

        span {
            @include span-style(absolute, 30px, 3px, black, 5px);
            transition: transform 0.5s, opacity 0.5s, background-color 0.5s;

            &:nth-child(1) {
                transform: translateY(-10px);
            }

            &:nth-child(3) {
                transform: translateY(10px);
            }
        }
    }
}
