@include block('map') {
    background-color: rgba(250, 198, 99, 1);
    height: 580px;
    margin-top: 150px;

    @include smal-element('map', 'area') {
        display: flex;
        width: 100%;

        @include smal-element('map_area', 'info') {
            width: 568px;
            padding-top: 70px;

            @include element('map_area_info', 'text') {
                h4 {
                    font-family: Rubik;
                    font-size: $title-desktop-size;
                    font-weight: 700;
                    line-height: 42.66px;
                }

                @include element('map_area_info__text', 'block') {
                    width: 227px;
                    margin-top: 30px;

                    h5 {
                        font-size: $main-desktop-size;
                        font-weight: 700;
                        line-height: 19.2px;
                    }

                    @include element('map_area_info__text__block', 'text_area') {
                        font-family: Lato;
                        font-size: $main-desktop-size;
                        font-weight: 400;
                        line-height: 19.2px;
                        text-align: left;

                        a {
                            color: black;
                            text-decoration: none;

                            i {
                                font-size: 25px;
                                margin-right: 10px;
                            }

                            &:hover {
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        @include smal-element('map_area', 'map') {
            position: absolute;
            margin-left: 570px;
            overflow-x: hidden;
        }
    }
}