@include block('number') {
    margin-top: 140px;
    height: 610px;
    width: 100%;
    overflow-x: hidden;

    @include smal-element('number', 'area') {

        @include smal-element('number_area', 'carousel') {
            display: flex;
            position: relative;
            left: 0;
            transition: all ease 0.5s;
        }

        @include element('number_area', 'main_title') {
            text-align: center;
            font-family: 'Rubik';
            font-size: $title-desktop-size;
            font-weight: $title-weight;
            line-height: 42.66px;
        }

        @include smal-element('number_area', 'slide') {
            position: relative;
            display: flex;
            margin-top: 70px;
            margin-right: 10000px;

            @include smal-element('number_area_slide', 'text_box') {
                width: 500px;
                height: 284px;
                background: rgba(255, 255, 255, 1);
                position: absolute;
                margin-left: 530px;
                margin-top: 70px;
                border-radius: 8px;
                box-shadow: 0px 0px 25px 0px $shadow-color;
                padding-top: 40px;
                padding-right: 100px;

                @include element('number_area_slide_text_box', 'title') {
                    margin-left: 100px;
                    font-family: Rubik;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26.07px;
                    text-align: left;
                }

                @include element('number_area_slide_text_box', 'list') {
                    margin-left: 87px;
                    list-style: url('../img/circle.png');

                    @include element('number_area_slide_text_box__list', 'string') {
                        margin-top: 15px;
                    }
                }

                @include smal-element('number_area_slide_text_box', 'button') {
                    margin-top: 20px;
                    position: relative;
                    display: flex;
                    width: 206px;
                    height: 50px;
                    background: $background-orange;
                    border: none;
                    border-radius: 40px;
                    padding-left: 30px;
                    align-items: center;
                    margin-left: 97px;

                    @include element('number_area_slide_text_box_button', 'book') {
                        color: white;
                        text-decoration: none;
                        position: relative;
                        font-size: $main-desktop-size;
                        font-weight: $title-weight;
                        line-height: 19.2px;

                        &:hover {
                            color: white;
                        }
                    }

                    @include element('number_area_slide_text_box_button', 'paw') {
                        margin-left: 20px;
                    }
                }
            }
        }

        @include element('number_area', 'for_carousel') {
            margin-top: 40px;
            display: flex;
            align-items: center;

            @include element('number_area__for_carousel', 'butons') {

                @include smal-element('number_area__for_carousel__butons', 'one') {
                    background-color: white;
                    border-radius: 50%;
                    box-shadow: 0px 2px 12px 0px rgba(173, 152, 143, 0.25);
                    width: 36px;
                    height: 36px;
                    color: $background-orange;
                    border: none;

                    @include element('number_area__for_carousel__butons_one', 'right') {
                        margin-left: 10px;
                    }
                }
            }

            @include element('number_area__for_carousel', 'numbers_slide') {
                margin-left: auto;
                margin-right: auto;

                @include element('number_area__for_carousel__numbers_slide', 'points') {
                    width: 12px;
                    height: 12px;
                    background: rgba(225, 225, 225, 1);
                    border-radius: 50%;
                    margin-left: 10px;
                    transition: all 0.5s;
                }
            }
        }
    }
}