@include block('WhyWe') {
    height: 757px;
    margin-top: 140px;
  
    @include smal-element('WhyWe', 'area') {
      text-align: center;
  
      @include element('WhyWe_area', 'main_title') {
        font-family: Rubik;
        font-size: $title-desktop-size;
        font-weight: 700;
        line-height: 42.66px;
      }
  
      @include smal-element('WhyWe_area', 'rows') {
        margin-top: 30px;
  
        @include element('WhyWe_area_rows', 'row') {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
  
        @include element('WhyWe_area_rows', 'block') {
          margin-top: 20px;
          position: relative;
          width: 370px;
          height: 321px;
          background-color: white;
          box-shadow: 0px 0px 25px 0px $shadow-color;
          border-radius: 8px;
          padding: 30px 50px 30px 30px;
          text-align: left;
  
          @include element('WhyWe_area_rows__block', 'icon') {
            width: 91px;
            height: 91px;
          }
  
          @include element('WhyWe_area_rows__block', 'text') {
            margin-top: 25px;
  
            @include element('WhyWe_area_rows__block__text', 'title') {
              font-family: Rubik;
              font-size: 20px;
              font-weight: 500;
              line-height: 30.8px;
            }

            @include element('WhyWe_area_rows__block__text', 'desription') {
              font-size: $main-desktop-size;
              font-weight: 400;
              line-height: 22.4px;
              text-align: left;
            }
          }
        }
      }
    }
  }
  