include ./area-slide-information/number-area-slide-information.pug

mixin number-area-slide()
    .number_area_carousel
        each room in rooms
            .number_area_slide
                img.number_area_slide__img(src=room.img alt=room.alt)
                .number_area_slide_text_box
                    h5.number_area_slide_text_box__title= room.title
                    ul.number_area_slide_text_box__list
                        each detail in room.details
                            li.number_area_slide_text_box__list__string= detail
                    .number_area_slide_text_box_button
                        a.number_area_slide_text_box_button__book(href="#") Забронировать
                        img.number_area_slide_text_box_button__paw(src="src/img/orangePaw.png" alt="")