mixin header-menu-more-info()
    .header-menu-contacts
        a(href="+78003335599" type="phone").header-menu-contacts__phone 8 (800) 333-55-99
        ul.header-menu-contacts__social-list
            li.header-menu-contacts__social-list-item
                a(href="#").header-menu-contacts__social-link
                    i(class="fa-brands fa-facebook")
            li.header-menu-contacts__social-list-item
                a(href="#").header-menu-contacts__social-link
                    i(class="fa-brands fa-square-instagram") 
            li.header-menu-contacts__social-list-item
                a(href="#").header-menu-contacts__social-link
                    i(class="fa-brands fa-vk")