mixin header-menu-more-info()
    a(href="+78003335599" type="number" class="header__menu__more_info__call") 8 (800) 333-55-99
    div.header__menu__more_info__online
        a(href="#" class="header__menu__more_info__online__brands")
            i(class="fa-brands fa-facebook")
        a(href="#" class="header__menu__more_info__online__brands")
            i(class="fa-brands fa-square-instagram")
        a(href="#" class="header__menu__more_info__online__brands")
            i(class="fa-brands fa-vk")



//-               <a href="+78003335599" type="number" class="header__menu__more_info__call">8 (800) 333-55-99</a>
//-               <div class="header__menu__more_info__online">
//-                     <a href="#" class="header__menu__more_info__online__brands"><i class="fa-brands fa-facebook"></i></a>
//-                     <a href="#" class="header__menu__more_info__online__brands"><i class="fa-brands fa-square-instagram"></i></a>
//-                     <a href="#" class="header__menu__more_info__online__brands"><i class="fa-brands fa-vk"></i></a>
//-               </div>
//-             </div>
//-           </div>