include block-area/advantages-block-area.pug

mixin advantages()
    section.advantages
        .container
            .advantages__title
                h3.advantages__title--name Почему мы?
            +advantages-block-area()