@import "https://fonts.fontstorage.com/import/rubik.css";
@import "https://fonts.fontstorage.com/import/lato.css";

@import "../../style/mixins.scss";
@import "../../style/variables.scss";

@include block('advantages') {
    height: 757px;
    margin-top: 140px;

    @include element('title') {
        text-align: center;

        @include element-modifier('name') {
            font-family: Rubik;
            font-size: 36px;
            font-weight: 700;
            line-height: 42.66px;
        }
    }
}

@include block('advantages-block-area') {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;

    @include element('block') {
        margin-top: 20px;
        position: relative;
        width: 370px;
        height: 321px;
        background-color: white;
        box-shadow: 0px 0px 25px 0px $shadow-color;
        border-radius: 8px;
        padding: 30px 50px 30px 30px;
        text-align: left;

        @include element('icon') {
            width: 91px;
            height: 91px;
        }

        @include element('text') {
            margin-top: 25px;

            @include element-modifier('title') {
                font-family: Rubik;
                font-size: 20px;
                font-weight: 500;
                line-height: 30.8px;
            }

            @include element-modifier('content') {
                font-size: $main-desktop-size;
                font-weight: 400;
                line-height: 22.4px;
                text-align: left;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    @include block('advantages-block-area') {
        @include element('block') {
            width: 324px;
            height: 285px;
            padding-right: 15px;

            @include element('icon') {
                width: 55px;
                height: 55px;

                @include element-modifier('image') {
                    width: 55px;
                    height: 55px;
                }
            }

            @include element('text') {
                margin-top: 15px;

                @include element-modifier('title') {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 28px;
                }

                @include element-modifier('content') {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 21px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    @include block('advantages') {
        @include element('title') {
            @include element-modifier('name') {
                font-family: Rubik;
                font-size: 28px;
                font-weight: 700;
                line-height: 33.18px;
            }
        }
    }

    @include block('advantages-block-area') {
        @include element('block') {
            padding-top: 15px;

            @include element('text') {
                @include element-modifier('title') {
                    font-family: Rubik;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 25.2px;
                }

                @include element-modifier('content') {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 21px;
                }
            }
        }
    }
}
