@import "https://fonts.fontstorage.com/import/rubik.css";
@import "https://fonts.fontstorage.com/import/lato.css";

@import "../../style/mixins.scss";
@import "../../style/variables.scss";

@include block('reviews') {
    margin-top: 100px;
    overflow-x: hidden;
    height: 400px;

    @include element('title') {
        text-align: center;

        @include element-modifier('name') {
            font-family: Rubik;
            font-size: 28px;
            font-weight: 700;
            line-height: 33.18px;
        }
    }

    @include element('comments') {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        left: 0;
        transition: all ease 0.5s;
        margin-top: 70px;

        @include element('comment') {
            margin-right: 30px;
            flex-shrink: 0;
            width: 470px;
            height: 206px;
            border-radius: 8px;
            background-color: white;
            box-shadow: 0px 0px 25px 0px $shadow-color;
            padding-top: 30px;
            padding-right: 40px;

            @include element('content') {
                display: flex;
    
                @include element-modifier('image') {
                    height: 27px;
                    position: absolute;
                    width: 27px;
                    margin-left: 20px;
                }
    
                @include element-modifier('text') {
                    font-size: $main-desktop-size;
                    font-weight: 500;
                    line-height: 22.4px;
                    text-align: left;
                    margin-left: 50px;
                }
            }

            @include element('data') {
                margin-left: 50px;
                display: flex;
                margin-top: 20px;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                color: rgba(132, 132, 132, 1);
            }
        }
    }
}

@media screen and (max-width: 320px) {
    @include block('reviews') {
        height: 700px;
        @include element('comments') {    
            @include element('comment') {
                height: 230px;
                width: 290px;
                padding-top: 20px;
                padding-right: 10px;
                margin-left: 15px; 
                @include element('content') {        
                    @include element-modifier('image') {
                        width: 21px;
                        height: 30px;
                    }
        
                    @include element-modifier('text') {
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 21px;
                    }
                }
    
                @include element('data') {
                    display: none;
                }
            }
        }
    }
}