include ../carousel-buttons/carousel-buttons.pug
include comments/reviews-comments.pug


mixin reviews()
    section.reviews
        .reviews__title
            .reviews__title--name Отзывы
        +reviews-comments()
        .container
            +carousel-buttons()

