include ./reasons-block-information/reasons-block-information.pug



mixin why-we-reasons-block()
    .WhyWe_area_rows
        each feature in features
            .WhyWe_area_rows__block
                .WhyWe_area_rows__block__icon
                    img.WhyWe_area_rows__block__icon__image(src=feature.icon)
                .WhyWe_area_rows__block__text
                    h4.WhyWe_area_rows__block__text__title= feature.title
                    .WhyWe_area_rows__block__text__desription= feature.description