include ../container/container.pug
include ../main/mask-background/mask-background.pug
include ../main/text/main-text.pug
include ../main/button/main-button.pug

mixin main()
    +mask-background()
    section.main 
        .container() 
            +main-text()
            +main-button()