include ../header/header.pug
include ../banner/banner.pug
include ../advantages/advantages.pug
include ../rooms/rooms.pug
include ../reviews/reviews.pug
include ../map/map.pug
include ../footer/footer.pug

html
  head
    title My Sites
  body
    block content
    block scripts
        content