include ../header/header.pug
include ../main/main.pug
include ../why-we/why-we.pug
include ../number/number.pug
include ../reviews/reviews.pug
include ../map/map.pug
include ../up-footer/up-footer.pug
include ../footer/footer.pug

html
  head
    title My Sites
  body
    block content
    block scripts
        content