mixin map-text-block()
    .map_area_info__text
        h4.map_area_info__text__main_text Как нас найти
        .map_area_info__text__block
            h5.map_area_info__text__block__title Адрес
            .map_area_info__text__block__text_area Санкт-Петербург, ул Большая Конюшенная, д 19
        .map_area_info__text__block
            h5.map_area_info__text__block__title Режим работы
            .map_area_info__text__block__text_area Ежедневно, с 9:00 до 20:00
        .map_area_info__text__block
            h5.map_area_info__text__block__title Телефон
            .map_area_info__text__block__text_area
                a.map_area_info__text__block__text_area__links(href="+78003335599" type="phone") 8 (800) 333-55-99
        .map_area_info__text__block
            h5.map_area_info__text__block__title E-mail
            .map_area_info__text__block__text_area
                a.map_area_info__text__block__text_area__links(href="#" type="mail") info@cat-hotel.ru
        .map_area_info__text__block
                h5.map_area_info__text__block__title Социальные сети
                .map_area_info__text__block__text_area
                    a.map_area_info__text__block__text_area__brands(href="#")
                        i.fa-brands.fa-facebook
                    a.map_area_info__text__block__text_area__brands(href="#")
                        i.fa-brands.fa-square-instagram
                    a.map_area_info__text__block__text_area__brands(href="#")
                        i.fa-brands.fa-vk