include info/advantages-block-area-info.pug

mixin advantages-block-area()
    .advantages-block-area
        each advantage in advantages
            .advantages-block-area__block
                .advantages-block-area__block__icon
                    img.advantages-block-area__block__icon--image(src=advantage.iconSrc alt="")
                .advantages-block-area__block__text
                    h4.advantages-block-area__block__text--title= advantage.title
                    .advantages-block-area__block__text--content= advantage.content