@import "../../style/mixins.scss";
@import '../../style/variables.scss';
@import "https://fonts.fontstorage.com/import/rubik.css";
@import "https://fonts.fontstorage.com/import/lato.css";

@include block('WhyWe') {
    height: 757px;
    margin-top: 140px;
  
    @include smal-element('WhyWe', 'area') {
      text-align: center;
  
      @include element('WhyWe_area', 'main_title') {
        font-family: Rubik;
        font-size: $title-desktop-size;
        font-weight: 700;
        line-height: 42.66px;
      }
  
      @include smal-element('WhyWe_area', 'rows') {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
  
        @include element('WhyWe_area_rows', 'row') {
          margin-top: 20px;
          display: flex;
          
          flex-wrap: wrap;
          flex-direction: row;
        }
  
        @include element('WhyWe_area_rows', 'block') {
          margin-top: 20px;
          position: relative;
          width: 370px;
          height: 321px;
          background-color: white;
          box-shadow: 0px 0px 25px 0px $shadow-color;
          border-radius: 8px;
          padding: 30px 50px 30px 30px;
          text-align: left;
  
          @include element('WhyWe_area_rows__block', 'icon') {
            width: 91px;
            height: 91px;
          }
  
          @include element('WhyWe_area_rows__block', 'text') {
            margin-top: 25px;
  
            @include element('WhyWe_area_rows__block__text', 'title') {
              font-family: Rubik;
              font-size: 20px;
              font-weight: 500;
              line-height: 30.8px;
            }

            @include element('WhyWe_area_rows__block__text', 'desription') {
              font-size: $main-desktop-size;
              font-weight: 400;
              line-height: 22.4px;
              text-align: left;
            }
          }
        }
      }
    }
  }
  

@media screen and (max-width: 768px) {
  @include block('WhyWe') {      
    @include smal-element('WhyWe', 'area') {      
      @include smal-element('WhyWe_area', 'rows') {
        @include element('WhyWe_area_rows', 'row') {
            @include element('WhyWe_area_rows', 'block') {
                width: 324px;
                height: 285px;
                padding-right: 15px;
            
            @include element('WhyWe_area_rows__block', 'icon') {
                width: 55px;
                height: 55px;
                @include element('WhyWe_area_eows__block__icon', 'image') {
                    width: 55px;
                    height: 55px;
                }
            }
  
          @include element('WhyWe_area_rows__block', 'text') {
            margin-top: 15px;
  
            @include element('WhyWe_area_rows__block__text', 'title') {
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
            }

            @include element('WhyWe_area_rows__block__text', 'desription') {
                font-size: 15px;
                font-weight: 400;
                line-height: 21px;
            }
          }
        }
      }
    }
  }
}
}

@media screen and (max-width: 320px) {
  @include block('WhyWe') {
    @include smal-element('WhyWe', 'area') {
        @include element('WhyWe_area', 'main_title') {
            font-family: Rubik;
            font-size: 28px;
            font-weight: 700;
            line-height: 33.18px;    
        }

        @include smal-element('WhyWe_area', 'rows') {

            @include element('WhyWe_area_rows', 'row') {
            }

            @include element('WhyWe_area_rows', 'block') {
                padding-top: 15px;

                @include element('WhyWe_area_rows__block', 'text') {
                    @include element('WhyWe_area_rows__block__text', 'title') {
                        font-family: Rubik;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 25.2px;
                    }

                    @include element('WhyWe_area_rows__block__text', 'desription') {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 21px;
                    }
                }
            }
        }
    }
}
}