include ../container/container.pug
include ./reasons-block/why-we-reasons-block.pug


mixin why-we()
    section.WhyWe#WhyWe
        .container
            .WhyWe_area
                h3.WhyWe_area__main_title Почему мы?
                .WhyWe_area_rows
                    .WhyWe_area_rows__row
                        +why-we-reasons-block.pug
                        
                        
                    
                        