mixin reviews-buttons()
    .number_area__for_carousel
        .number_area__for_carousel__numbers_slide.reviews_buttons
            input(type="radio" name="groupCatCarouselReviews" id="radioButtonReviews" hidden)
            label.number_area__for_carousel__numbers_slide__points__reviews.number_area__for_carousel__numbers_slide__points(for="radioButtonReviews")
            input(type="radio" name="groupCatCarouselReviews" id="radioButtonReviews" hidden)
            label.number_area__for_carousel__numbers_slide__points__reviews.number_area__for_carousel__numbers_slide__points(for="radioButtonReviews")
            input(type="radio" name="groupCatCarouselReviews" id="radioButtonReviews" hidden)
            label.number_area__for_carousel__numbers_slide__points__reviews.number_area__for_carousel__numbers_slide__points(for="radioButtonReviews")
        .number_area__for_carousel__butons.reviews_buttons
            button.number_area__for_carousel__butons_one#left-slider-reviews
                i.fa-solid.fa-angle-left
            button.number_area__for_carousel__butons_one.number_area__for_carousel__butons_one__right#right-slider-reviews
                i.fa-solid.fa-angle-right