mixin footer-copyright()
    .footer__copyright
        .container
            .footer__copyright__line
                .footer__copyright__line__law
                    i.fa-regular.fa-copyright
                    .footer__copyright__line__law--text 2019 Все права защищены
                | Политика конфиденциальности