mixin map-plan()
    .map_area_map
        script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad902a1ffc2ff79bb1a838a9f0f840c02d297a819c9e9194677e669a95d12f015&width=900&height=580&lang=ru_RU&scroll=true")