mixin header-burger()
    button(class="header__burger" id="header__burger")
        span(id="cross-first" class="header__burger__line")
        span(id="cross-opacity" class="header__burger__line")
        span(id="cross-fird" class="header__burger__line")









//-           <button class="header__burger" id="header__burger">
//-             <span id="cross-first" class="header__burger__line"></span><span id="cross-opacity" class="header__burger__line"></span><span id="cross-fird" class="header__burger__line"></span>
//-           </button>
//-         </div>
//-       </div>
//-     </div>