include ../container/container.pug
include menu/header-menu.pug
include button/header-button.pug

mixin header()
    header
        .head(id="head")
            .container
                .header
                    .header__logo
                        img(src="src/assets/logo.png", alt="")
                    +header-menu()
                    +header-button()
