@import '../../style/mixins.scss';
@import '../../style/variables.scss';
@import "https://fonts.fontstorage.com/import/rubik.css";
@import "https://fonts.fontstorage.com/import/lato.css";

@include block('header') {
    width: 100%;
    @include flex(space-between, center);
    height: 76px;
    padding-top: 12px;

    @include element('header', 'menu') {
        @include flex();

        @include element('header', 'menu__more_info') {
            @include hidden;

            @include element('header-menu-contacts', 'phone') {
                font-family: Rubik;
                font-size: $main-desktop-size;
                font-weight: 400;
                line-height: 18.96px;
                color: black;
                text-decoration: none;
            }

            @include element('header-menu-contacts', 'social-list') {

                display: flex;
                position: absolute;
                margin-top: 30px;
                list-style: none;
                padding: 0 0 0 0;

                @include element('header-menu-contacts', 'social-list-item') {
                    font-size: 25px;
                    margin-right: 10px;

                    @include element('header-menu-contacts', 'social-link') {
                        color: black;
                        text-decoration: none;
                    }
                }
                    
            }
        }
    }

    @include element('header', 'menu__one_text') {
        color: black;
        text-decoration: none;
        font-size: $main-desktop-size;
        font-weight: $title-weight;
        line-height: 19.2px;
        margin-left: 30px;
    }

    @include element('header', 'burger') {
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background-color: white;
        @include hidden;

        




        @include element('header__burger', 'line') {
            @include span-style(absolute, 30px, 3px, black, 5px);
            z-index: 999;
            transition: transform 0.5s, opacity 0.5s, background-color 0.5s;

            &:nth-child(1) {
                transform: translateY(-10px);
            }

            &:nth-child(3) {
                transform: translateY(10px);
            }



        }
    }
}

.head.open{
    background-color: #FAC663;
    height: 524px;

    @include element('header__burger', 'line') {
        &:nth-child(1) {
            transform: translateY(0) rotate(45deg);
        }

        &:nth-child(3) {
            transform: translateY(0) rotate(-45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

    }

    @include element('header', 'burger') {
        background-color: #FAC663;
    }

    @include element('header', 'menu') {
        display: flex;
    }

}


@media screen and (max-width: 320px) {
    @include block('container') {
        width: 290px;
    }

    @include block('header') {
        @include element('header', 'menu') {
            position: absolute;
            flex-direction: column;
            z-index: 99;
            top: 100px;
            display: none;
    
            @include element('header__menu', 'one_text') {
                margin-top: 20px;
                margin-left: 0px;
                font-family: Rubik;
                font-size: 20px;
                font-weight: 500;
                line-height: 23.7px;
                text-align: left;
            }
    
            @include element('header__menu', 'more_info') {
                display: block;
                margin-top: 25px;
    
                @include element('header__menu__more_info', 'call') {
                    
                }
    
                @include element('header__menu__more_info', 'online') {
                    margin-top: 25px;
    
                    @include element('header__menu__more_info__online', 'brands') {
                        
                    }
                }
            }
        }
    
        @include element('header', 'burger') {
            display: block;
        }
    }
}
