@import "https://fonts.fontstorage.com/import/rubik.css";
@import "https://fonts.fontstorage.com/import/lato.css";

@import "../../style/mixins.scss";
@import "../../style/variables.scss";


@include block('head') {
    height: 76px;
}

@include block('header') {
        padding-top: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    @include element('menu') {
        display: flex;

        @include element-modifier('one') {
            color: black;
            text-decoration: none;
            margin-left: 15px;
            font-family: Lato;
            font-size: 16px;
            font-weight: 600;
            line-height: 19.2px;
        }

        @include element('contacts') {
            display: none;
        }
    }

    @include element('burger-menu') {
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background-color: white;
        display: none;
        

        @include element('line') {
            transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: black;
            left: 5px;

            &:nth-child(1) {
                transform: translateY(-10px);
            }

            &:nth-child(3) {
                transform: translateY(10px);
            }
        }
    }
}

.head.open{
    background-color: #FAC663;
    height: 524px;

    @include block('header__burger-menu__line') {
        &:nth-child(1) {
            transform: translateY(0) rotate(45deg);
        }

        &:nth-child(3) {
            transform: translateY(0) rotate(-45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

    }

    @include block('header__burger-menu') {
        background-color: #FAC663;
    }

    @include block('header__menu') {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 350px;

        @include element-modifier('one') {
            font-family: Rubik;
            font-size: 20px;
            font-weight: 500;
            line-height: 23.7px;
            margin-left: 0;
            margin-top: 15px;
        }

        @include element('contacts') {
            display: block;
            margin-top: 40px;

            @include element('phone-number') {
                font-family: Rubik;
                font-size: 16px;
                font-weight: 400;
                line-height: 18.96px;
                color: black;
                text-decoration: none;
            }

            @include element('online') {
                margin-top: 20px;
                @include element-modifier('networks') {
                    color: black;
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }

    }

}


@media screen and (max-width: 320px) {
    @include block('header') {
        @include element('menu') {
            display: none;
            
        }

        @include element('burger-menu') {
            display: block;
        }
    }


}