include ../container/container.pug
include ./area-slide/number-area-slide.pug
include ./buttons/number-buttons.pug

mixin number()
    section.number#number
        .container
            .number_area
                h4.number_area__main_title Номера
                .number_area_carousel
                    +number-area-slide()
                .number_area__for_carousel
                    +number-buttons()

