include ../carousel-buttons/carousel-buttons.pug
include carousel/rooms-carousel.pug

mixin rooms()
    section.rooms
        .container
            .rooms__area
                .rooms__area__title
                    .rooms__area__title--name Номера
                +rooms-carousel()
                +carousel-buttons()
            

