include ../container/container.pug

mixin footer()
    footer
        .footer
            .container
                .footer_line
                    .footer_line_copyright
                        i.fa-regular.fa-copyright
                        .footer_line_copyright__text 2019 Все права защищены
                    | Политика конфиденциальности
