mixin number-buttons()
    .number_area__for_carousel__numbers_slide
        input(type="radio" name="groupCatCarousel" id="radioButton" hidden)
        label.number_area__for_carousel__numbers_slide__points(for="radioButton")
        input(type="radio" name="groupCatCarousel" id="radioButton" hidden)
        label.number_area__for_carousel__numbers_slide__points(for="radioButton")
        input(type="radio" name="groupCatCarousel" id="radioButton" hidden)
        label.number_area__for_carousel__numbers_slide__points(for="radioButton")
    .number_area__for_carousel__butons
        button.number_area__for_carousel__butons_one#left-slider
            i.fa-solid.fa-angle-left
        button.number_area__for_carousel__butons_one.number_area__for_carousel__butons_one__right#right-slider
            i.fa-solid.fa-angle-right