@import "https://fonts.fontstorage.com/import/rubik.css";
@import "https://fonts.fontstorage.com/import/lato.css";

@import "../../style/mixins.scss";
@import "../../style/variables.scss";

@include block('map') {
    background-color: rgba(250, 198, 99, 1);
    height: 580px;
    margin-top: 100px;
    display: flex;
    @include element('info') {
        width: 50vw;

        @include element('title') {
            
            margin-top: 50px;

            @include element-modifier('name') {
                font-family: Rubik;
                font-size: 28px;
                font-weight: 700;
                line-height: 33.18px;
            }
        }

        @include element('communication') {
            width: 227px;
            margin-top: 30px;

            @include element-modifier('title') {
                font-size: $main-desktop-size;
                font-weight: 700;
                line-height: 19.2px;
            }
            
            @include element-modifier('description') {
                margin-top: 10px;
                font-family: Lato;
                font-size: $main-desktop-size;
                font-weight: 400;
                line-height: 19.2px;
                text-align: left;
            }
        }
    }

    @include element('scheme') {
        width: 50vw;
    }

}


@media screen and (max-width: 768px) {
    @include block('map') {
        @include element('info') {
            @include element('communication') {
                width: 227px;
                margin-top: 30px;
    
                @include element-modifier('title') {
                    font-size: $main-desktop-size;
                    font-weight: 700;
                    line-height: 19.2px;
                }
                
                @include element-modifier('description') {
                    margin-top: 10px;
                    font-family: Lato;
                    font-size: $main-desktop-size;
                    font-weight: 400;
                    line-height: 19.2px;
                    text-align: left;
                }
        }
    
       
    }

    
    }
}

@media screen and (max-width: 320px) {
    @include block('map') {
        @include element('scheme') {
            margin-top: 550px;
        }
    }
}