mixin main-text()
    .main__text
        .main__text__city Санкт-Петербург
        .main__text__name
            h1.main__text__name__title Котейка
        .main__text__cosines Уютная гостиница для котов и кошек