mixin banner()
    .mask-background
    section.banner
        .container
            .banner__text
                .banner__text--city Санкт-Петербург
                .banner__text--title Котейка
                .banner__text--annotation Уютная гостиница для котов и кошек
            .banner__button
                a.banner__button__book(href="#") Забронировать
                img.banner__button__paw(src="src/assets/paw.png" alt="")

